<!-- Testimonial -->
<div class="container-fluid my-5 justify-content-center">
    <div class=" row justify-content-center ">
        <div class="col-lg-4 mt-5 col-12 ">
            <div class="card mt-3">
                <div class="card-header bg-white text-center border-0 ">
                    <div class="row justify-content-center ">
                        <div class="col"> <img class="align-self-center text-center rounded-circle outside img-fluid" src="../../assets/images/16.jpg" width="110" height="110"> </div>
                    </div>
                    <div class="row text-center name">
                        <div class="col">
                            <h5 class="mb-0 profile-pic">Eya ZAOUI</h5> 
                           <br>
                        </div>
                    </div>
                </div>
                <div class="card-body pt-0 text-center pb-3 ">
                    <div class="row justify-content-center">
                        <div class="col-md-8 col">
                            <p class="bold"> <span><img class="img-fluid quotes" src="../../assets/images/11.png" width="40" height="40"></span> Give them an offer they can't refuse <span><img class="img-fluid quotes-down" src="../../assets/images/10.png" width="40" height="40"></span> </p>
                        </div>
                    </div>
                </div>
                <br>
                <br>
            </div>
        </div>
        <div class="col-lg-4 mt-5 col-12 ">
            <div class="card mt-3">
                <div class="card-header bg-white text-center border-0 ">
                    <div class="row justify-content-center ">
                        <div class="col"> <img class="align-self-center text-center rounded-circle outside img-fluid" src="../../assets/images/15.jpg" width="110" height="110"> </div>
                    </div>
                    <div class="row text-center name">
                        <div class="col">
                            <h5 class="mb-0 profile-pic">SARAH BORGI</h5>
                          <br>
                        </div>
                    </div>
                </div>
                <div class="card-body pt-0 text-center pb-3 ">
                    <div class="row justify-content-center">
                        <div class="col-md-8 col">
                            <p class="bold"> <span><img class="img-fluid quotes" src="../../assets/images/11.png" width="40" height="40"></span>  Every job is a self-portrait of the person who does it. Autograph your work with excellence <span><img class="img-fluid quotes-down" src="../../assets/images/10.png" width="40" height="40"></span> </p>
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>
        <div class="col-lg-4 mt-5 col-12 ">
            <div class="card mt-3">
                <div class="card-header bg-white text-center border-0 ">
                    <div class="row justify-content-center ">
                        <div class="col"> <img class="align-self-center text-center rounded-circle outside img-fluid" src="../../assets/images/17.jpg" width="110" height="110"> </div>
                    </div>
                    <div class="row text-center name">
                        <div class="col">
                            <h5 class="mb-0 profile-pic">Taha Yassine TIZAOUI</h5>
                          <br>
                        </div>
                    </div>
                </div>
                <div class="card-body pt-0 text-center pb-3 ">
                    <div class="row justify-content-center">
                        <div class="col-md-8 col">
                            <p class="bold"> <span><img class="img-fluid quotes" src="../../assets/images/11.png" width="40" height="40"></span> A job isn't just a job. It's who you are. <span><img class="img-fluid quotes-down" src="../../assets/images/10.png" width="40" height="40"></span> </p>
                        </div>
                    </div>
                </div>
                <br>
                <br>
            </div>
        </div>
    </div>
</div>
